<?xml version="1.0" ?>

<!--
This is the custom gazebo setup for the Intel RealSense 435i camera
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="d435i_gazebo" params="parent_link camera_name:=camera">

    <gazebo reference="${parent_link}">
      <plugin name="realsense_gazebo_plugin"
              filename="librealsense_gazebo_plugin.so">

        <robotNamespace>/</robotNamespace>
        <cameraName>${camera_name}</cameraName>

        <enableColor>true</enableColor>
        <enableDepth>true</enableDepth>
        <enablePointCloud>true</enablePointCloud>

        <colorTopicName>color/image_raw</colorTopicName>
        <depthTopicName>depth/image_raw</depthTopicName>
        <pointCloudTopicName>depth/points</pointCloudTopicName>

        <updateRate>30</updateRate>

        <visualize>true</visualize>


      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
